<p>login works!</p>

<div class="container">
    <div class="row">
        <div class="col">
            
            <div class="row">
                <div class="col">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label>Correo</label>
                                <input name="email" type="text" class="form-control" [(ngModel)]="login.email" />
                            </div>
                            <div class="col">
                                <label>Correo</label>
                                <input  name="password" type="text" class="form-control" [(ngModel)]="login.password" />
                            </div>
                            <div>
                                <button (click)="makeLogin(login)" class="btn btn-primary" >Ingresar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

