



<div class="container">
    <div class="row">
        <div class="col">

            <div class="row pb-4">
                <div class="col">
                    <h1><i class="bi bi-person-circle"></i> Cuentas</h1>
                </div>
            </div>

            @defer(when userProfiles.length > 0){
            <div class="row">
                <div class="col">
                    <table class="table table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th>Status</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>PasswordHash</th>
                                <th>Rol</th>
                            </tr>                            
                        </thead>
                        <tbody *ngFor="let account of userProfiles">
                            <tr>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" [(ngModel)]="account.status" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                                        (change)="deactivateAccount(account.idUserProfile!,account.status!)">
                                    </div>
                                </td>
                                <td>{{account.userName}}</td>
                                <td>{{account.email}}</td>
                                <td>{{account.passwordHash}}</td>
                                <td>{{account.rol?.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>}@placeholder {
                <div class="row text-center">
                                    <div class="col text-center">
                                        <h3>Cargando...</h3>
                                    </div>
                                </div>
            }
        </div>
    </div>
</div>
