

<div class="container">
    <div class="row">
        <div class="col">

            <div class="row pb-4">
                <div class="col">
                    <h1>Solicitar Permiso</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 shadow-lg p-4 mb-5 bg-body rounded">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >
                        <div class="row">
                            <!-- calendario -->
                            <div class="col">
                                
                                  <input class="form-control d-none" name="fechaNacimiento" 
                                  [(ngModel)]="fechasSolicitadas" 
                                type="text"
                                mwlFlatpickr
                                [altInput]="true"
                                [altFormat]="'Y-m-d'"
                                [dateFormat]="'Y-m-d'"
                                [mode]="'range'"
                                [inline]="true"
                                placeholder="Selecciona una fecha"
                                required #fechas="ngModel" [ngClass]="{'is-invalid': f.submitted && fechas.invalid}"
                                />
                                <div *ngIf="f.submitted && fechas.errors" class="invalid-feedback">
                                    <div *ngIf="fechas.errors.required">La fecha de solicitud es obligatoria</div>
                                </div>
                            </div>
                            <!-- detalles -->
                             <div class="col ">
                                <div class="row pb-2">
                                        <label class="form-label" >HoraInicio</label>
                                        <input class="form-control" name="horaInicio"
                                        [(ngModel)]="permiso.horaInicio"
                                        type="text" 
                                        mwlFlatpickr
                                        [altInput]="true"
                                        [altFormat]="'H:i'"
                                        [enableTime]="true"
                                        [noCalendar]="true"
                                        [dateFormat]="'H:i'"
                                        placeholder="Selecciona una hora"
                                        required #horaInicio="ngModel" [ngClass]="{'is-invalid': f.submitted && horaInicio.invalid}"
                                        />
                                       <div *ngIf="f.submitted && horaInicio.errors" class="invalid-feedback">
                                        <div *ngIf="horaInicio.errors.required">La Hora es obligatoria</div>
                                       </div>

                                </div>
                                <div class="row pb-2">
                                     <label class="form-label" >HoraFin</label>
                                        <input class="form-control" name="horaFin"
                                        [(ngModel)]="permiso.horaFin"
                                        type="text" 
                                        mwlFlatpickr
                                        [altInput]="true"
                                        [altFormat]="'H:i'"
                                        [enableTime]="true"
                                        [noCalendar]="true"
                                        [dateFormat]="'H:i'"
                                        placeholder="Selecciona una hora"
                                        required #horaFin="ngModel" [ngClass]="{'is-invalid': f.submitted && horaFin.invalid}"
                                        />
                                        <div *ngIf="f.submitted && horaFin.errors" class="invalid-feedback">
                                            <div *ngIf="horaFin.errors.required">La hora es obligatoria</div>
                                        </div>
                                </div>
                                <div class="row pb-2">
                                    <label class="form-label" >Motivo</label>
                                    <textarea class="form-control" name="motivo"
                                    [(ngModel)]="permiso.motivo"
                                    type="textarea"
                                    required #motivo="ngModel" [ngClass]="{'is-invalid': f.submitted && motivo.invalid}"
                                    ></textarea>
                                    <div *ngIf="f.submitted && motivo.errors" class="invalid-feedback">
                                        <div *ngIf="motivo.errors.required">El motivo es obligatorio</div>
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <label class="form-label">Jefe Directo</label>
                                    <select name="jefe" class="form-select" [(ngModel)]="selectedJefe"
                                    #jefe="ngModel" required [ngClass]="{'is-invalid': f.submitted && jefe.invalid}"
                                    >
                                    <option *ngFor="let jefe of jefes" [value]="jefe.idEmpleado">
                                    {{ jefe.nombre }}
                                    </option>
                                    </select>
                                    <div *ngIf="f.submitted && jefe.errors" class="invalid-feedback">
                                        <div *ngIf="jefe.errors.required">Selecciona a tu jefe directo"></div>
                                    </div>
                                </div>
                             </div>
                             <div class="row justify-content-end">
                                <div class="col-2">
                                    <button class="btn btn-success" (click)="obtenerFechas()" >Solicitar</button>
                                </div>
                             </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>