

<div class="container">
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>FechaInicio</th>
                                <th>FechaFin</th>
                                <th>HoraInicio</th>
                                <th>HoraFin</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let permiso of permisos">
                                <tr>
                                    <td>{{permiso.idPermiso}}</td>
                                    <td>{{permiso.fechaInicio}}</td>
                                    <td>{{permiso.fechaFin}}</td>
                                    <td>{{permiso.horaInicio}}</td>
                                    <td>{{permiso.horaFin}}</td>
                                    <td>{{permiso.motivo}}</td>
                                    @if(permiso.statusPermiso.idStatusPermiso==1){
                                        <td>Pendiente</td>
                                    }@else if(permiso.statusPermiso.idStatusPermiso==2){
                                        <td>Aprobado</td>
                                    }@else{
                                        <td>Rechazado</td>  
                                    }
                                    <td><button class="btn btn-danger">Eliminar</button></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
